.header-card-container{
  border-radius: 10px;
  vertical-align: middle;
  background-color: rgb(250, 221, 58);
}

.avatar-detail{
  width: 30%;
}

.title-detail{
  margin-top: 15px;
  width: 70%;
  font-family: 'Gudea', sans-serif;
}
mat-card-content div{
  margin-top: 25px;
  margin-left: 10px;
}
