.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card{
  margin-bottom: 5px;
}

mat-card :hover{
  cursor: pointer;
}

section {
  display: table;
}

.button-add-container{
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
